html, body {
    padding: 0;
    margin: 0;
}

.header {
    height:60px;
    line-height:60px;
    padding: 0px 20px;
    background-color:#d44500;
    position:relative;
    
}

h1 {
    text-align:left;
    display:inline-block;
    position:absolute;
    margin: 0;
    color: #fff
}

.list {
    text-align:right;
    list-style:none;
    display:inline-block
    position:absolute;
    top: 0;
    right: 0;
}

.list .item {
    display:inline-block;
    margin-left:20px;
    color:#fff
}

.list .item a {
    text-decoration:none;
    color: #fff
}

.content {
    width:70%;
    background-color: #cccccc;
    display:inline-block;
    min-height:500px;
}

.sidebar {
    width:30%;
    position:absolute;
    display:inline-block;
    background-color:#6e6d6d;
    color:#fff;
    min-height:500px;
}

.main {
    position:relative;
}

.main .content p, .main .sidebar p {
    margin: 20px;
}

.blog-post {
    margin:10px;
    background-color: #fffff0;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 10px;
}